// INDEX SITE
#SLIDER{
    width: 100%;
    background-color: red;
    .row{
        background-color: #000101;
        width: inherit;
        .slider-1{
            //TA BORT OCH BYT TILL IMG
            background-color: $grayBackground;
            height: 52vh;
            // margin-bottom: 1rem;
            position: relative;
            z-index: 1;
        
            .slider-text{
                padding: 1rem;
                border-radius: 1rem;
                color: white;
                position: absolute;
                z-index: 2;
                bottom:1rem;
                left: 0rem;   
                background-color: #00000080; 
                h1{
                    font-size: 20px;
                }
                p{
                    font-size: 14px;
                }
                .button-87{
                    font-size: 14px;
                    color: rgb(53, 53, 53);
                    padding: 8px 25px 8px 25px; 
                    width: 8rem;
                }
            }
        }
    }
}


#whatWeDo{
    background-color: $primaryColor;
    height: auto;
    color: white;
    .smal-box-item-content{
       background: $primaryColor;
       box-shadow: inset 9px 9px 20px #1d465e,
       inset -9px -9px 20px #2f7096;
       &:hover{
           background: #265b7a;
           box-shadow:  5px 5px 10px #1d445c,
           -5px -5px 10px #307299;
           .text-small{
               color: $thirdColor;
           }
        }
        .text-small{ 
            color: #aec3cf;
            text-shadow: 1px -1px 3px #000101,
            -1px 1px 3px #194e6d;
        }
    }
}   

@media(min-width:$small-phone){

}

@media(min-width:$larg-phone){
    #SLIDER{
        .row{
            .slider-1{
                .slider-text{
                    left: 3rem;  
                }
            }
        }
    }
}
@media(min-width:$tablet){
    #SLIDER{
        .row{
            .slider-1{
            
                .slider-text{
                    h1{font-size: 26px;}
                    p{
                        font-size: 16px;
                    }
                    .button-87{
                        font-size: 16px;
                        padding: 10px 30px 10px 30px; 
                        width: 10rem;

                    }
                }
            }
        }
    }
}
@media(min-width:$desktop){
        #SLIDER{
            .row{
                .slider-1{
                    height: 82vh;
                    .slider-text{
                        bottom:10rem;
                        left: 5rem;  
                    }
            }
            
        }
    }
}

@media(min-width:$desktop-large){
   
}


// .showcase-contact-us{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 5rem;
//     background-color: $ligghtgraybackground;
// }
// .showcase-social{
//     background-color: $primaryColor;
//     height: 5vh;
//     .container{
//         height: inherit;
//         .showcase-social-links{
//             display: flex;
//             height: inherit;
//             justify-content:space-between;
//             align-items: center;

//             i{
//                 font-size: 2rem;
//                 color: rgb(205, 216, 226);
//             }
//         }
//     } 
// }