.smal-box{
    justify-content: space-between;
   .smal-box-item{
       .smal-box-item-content{
            border-radius: 13px;
            height: 6rem;
            width: auto;
            margin-bottom: 0.9rem;
            margin-top: 0.9rem;
           
            .text-small{
                font-size: 14px;
                padding: 0.3rem;
                
            }
           &:hover{
            border-radius: 13px;
               .text-small{

                color: $thirdColor;
               }
               
           }
           a{
               display: flex;
               justify-content: center;
               align-items: center;
               height: inherit;
               width: 100%;
               color: black;
               
           }
           
           
       }
       
   }
}

@media(min-width:$small-phone){
    .smal-box{
        .smal-box-item{
            .smal-box-item-content{
 
                
                 .text-small{
                     font-size: 18px;
                    
                }
                
                
            }
            
        }
     }
}

@media(min-width:$larg-phone){
    
}
@media(min-width:$tablet){
    
}
@media(min-width:$desktop){
}

@media(min-width:$desktop-large){
   
}